### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [403]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [404]:
unique_players = purchase_data["SN"].unique()
total_players = pd.DataFrame(unique_players)
sum_players = total_players.count()
player_result = pd.DataFrame({"Total Players":sum_players})
player_result

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [405]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"].value_counts())
total_revenue = sum(purchase_data["Price"])

summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[avg_price],"Number of Purchases":[num_purchases],"Total Revenue":[total_revenue]})
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [406]:
#purchase_data.sort_values("SN", inplace = True)
dedupe_df = purchase_data.drop_duplicates(subset = "SN", keep = "first")
gender_count = dedupe_df["Gender"].value_counts()
gender_pct = (dedupe_df["Gender"].value_counts()/dedupe_df["Gender"].count())*100
gender_count_df = pd.DataFrame({"Total Count":gender_count,"Percentage of Players":gender_pct})
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [407]:
gender_group = purchase_data.groupby(["Gender"])
purchase_count = gender_group["Purchase ID"].count()
avg_purchase_price = gender_group["Price"].mean()
total_purchase_value = gender_group["Price"].sum()
avg_total_purchase = total_purchase_value/gender_count

gg_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_purchase_price,"Total Purchase Value":total_purchase_value,"Avg Total Purchase per Person":avg_total_purchase})
gg_df["Average Purchase Price"] = gg_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gg_df["Total Purchase Value"] = gg_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gg_df["Avg Total Purchase per Person"] = gg_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
gg_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [408]:
bins = [0,9.9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df = dedupe_df[["Age"]]
age_df[""] = pd.cut(age_df["Age"], bins, labels = group_names, include_lowest = True)

age_summary_df = pd.DataFrame(age_df.groupby([""]).count())
age_summary_df["Percentage of Players"] = pd.to_numeric((age_summary_df["Age"]/age_summary_df["Age"].sum())*100).astype(float).map("{:,.2f}%".format)
age_summary_df = age_summary_df.rename(columns={"Age":"Total Count"})

age_summary_df

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [409]:
bins = [0,9.9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_df = purchase_data[["Purchase ID","SN","Age","Price"]]

#purchase_dedupe_df = purchase_df.drop_duplicates(subset = "SN", keep = "first")
#unique_sn = purchase_dedupe_df["SN"].count()

purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels = group_names, include_lowest = True)
#purchase_df = purchase_df.set_index("Age Ranges")

age_range = purchase_df["Age Ranges"].count()
#ge_range.head(10)

grouped_purchase_df = purchase_df.groupby(["Age Ranges"])

purchase_count = grouped_purchase_df["Purchase ID"].count()
avg_price = grouped_purchase_df["Price"].mean().astype(float).map("${:,.2f}".format)
total_purchase_value = grouped_purchase_df["Price"].sum().astype(float).map("${:,.2f}".format)
unique_sn = grouped_purchase_df["SN"].unique().count()
#avg_purchase = total_purchase_value/unique_sn

summary_purchase_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_price,"Total Purchase Value":total_purchase_value})#,"Average Purchase per Person":avg_purchase})
#grouped_purchase_df.count()
summary_purchase_df

            Purchase Count Average Purchase Price Total Purchase Value
Age Ranges
<10                     23                  $3.35               $77.13
10-14                   28                  $2.96               $82.78
15-19                  136                  $3.04              $412.89
20-24                  365                  $3.05            $1,114.06
25-29                  101                  $2.90              $293.00
30-34                   73                  $2.93              $214.00
35-39                   41                  $3.60              $147.67
40+                     13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [410]:
top_spenders_df = purchase_data[["Purchase ID","SN","Price"]]

grouped_ts_df = top_spenders_df.groupby(["SN"])

ts_purchase_count = grouped_ts_df["Purchase ID"].count()
ts_avg_price = grouped_ts_df["Price"].mean().astype(float).map("${:,.2f}".format)
ts_total_price = grouped_ts_df["Price"].sum()

summary_ts_df = pd.DataFrame({"Purchase Count":ts_purchase_count,"Average Purchase Price":ts_avg_price,"Total Purchase Price":ts_total_price})
summary_ts_df = summary_ts_df.sort_values(by="Total Purchase Price",ascending=False)
summary_ts_df["Total Purchase Price"] = summary_ts_df["Total Purchase Price"].astype(float).map("${:,.2f}".format)
summary_ts_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [423]:
popitems_df = purchase_data[["Item ID","Item Name","Price"]]

#grouped_popitems_df = popitems_df.groupby(["Item ID"])

item_id = popitems_df["Item ID"]
popitem_count = popitems_df["Item ID"].count()
popitem_total_value = popitems_df["Price"].sum()
#popitem_price = pd.to_numeric(grouped_popitems_df["Price"])

summary_popitems_df = pd.DataFrame({"Item ID":item_id,"Purchase Count":popitem_count,"Total Purchase Value":popitem_total_value})
full_popitems_df = pd.merge(popitems_df,summary_popitems_df,on="Item ID")
full_popitems_df.head(50)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
1,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
2,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
3,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
4,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
5,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
6,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
7,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
8,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
9,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
10,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
11,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
12,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
13,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
14,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
15,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
16,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
17,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
18,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
19,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
20,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
21,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
22,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
23,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
24,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
25,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
26,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
27,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
28,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
29,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
30,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
31,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
32,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
33,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
34,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
35,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
36,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
37,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
38,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
39,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
40,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
41,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
42,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
43,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
44,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
45,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
46,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
47,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
48,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77
49,108,"Extraction, Quickblade Of Trembling Hands",3.53,780,2379.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80